<h1>Past events</h1>
<ul>
    <a class = "arrow left"><img src = "{{ '/assets/icons/arrow.png' | relative_url}}"></img></a>
    <a class = "arrow right"><img src = "{{ '/assets/icons/arrow.png' | relative_url}}"></img></a>

    {% assign counter = 0 %}
    {% assign all_talks =  site.talks | sort: date %}
    {% assign talks = "" | split: "," %}

    {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% for current-talk in all_talks %}
        {% capture date %}{{current-talk.date | date: '%s' | plus: 0 }}{% endcapture %}
        {% if date <= now %}
            {% assign counter = counter | plus: 1 %}
            {% assign talks = talks | push: current-talk %}
        {% endif %}
    {% endfor %}

    {% for current-talk in talks %}
        {% include talk-abstract.html talk = current-talk %}
    {% endfor %}
</ul>
<progress value="0" max="{{ counter }}"></progress>
