---
layout: default
---
<main>
    {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% capture date %}{{page.date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if date > now %}
        <div class = "talk">
            {% include talk-description.html %}
    {% else %}
        <div class = "list">
            {% include upcoming-talks.html %}
    {% endif %}
        </div>
    {% capture now %}{{'now' | date: '%s' | plus: 0 }}{% endcapture %}
    {% capture date %}{{page.date | date: '%s' | plus: 0 }}{% endcapture %}
    {% if date <= now %}
        <div class = "talk">
            {% include talk-description.html %}
    {% else %}
        <div class = "list">
            {% include past-talks.html %}
        {% endif %}
    </div>
</main>
